# 하루에 한번씩 리뷰 데이터를 긁어서 learning_dataset 테이블을 업데이트 할 거임
* 어제부터 오늘까지 리뷰데이터를 가져옴 > review_beer
* 그 중 멤버 아이디 추출 후 그것과 관계된 learning_dataset 테이블에서 데이터 가져옴 > learning_for_member
* beer_review_encoder.joblib 파일을 이용해 review_beer 리뷰데이터 전처리
* learning_for_member 리뷰데이터에 전처리된 review_beer 데이터를 차례차례 더함
* learning_for_member 데이터를 가져온 테이블에서 데이터를 삭제 후 append.
  * 왜냐면 pandas기능에 의존하고 있어서 열 이름을 맞춰주는게 이것밖에 않됨...

In [1]:
import pandas as pd
import numpy as np
from joblib import load, dump
from sqlalchemy import create_engine

from sklearn.preprocessing import OneHotEncoder

In [2]:
engine = create_engine('postgresql://sulleong:###@sulleong.site:5432/sulleong')

In [3]:
review_beer = pd.read_sql_query('''SELECT *
    FROM review_beer_join
    WHERE "created_at"
    BETWEEN CURRENT_DATE-10 AND CURRENT_DATE;
    ''', engine)

In [4]:
review_beer = review_beer.drop(columns='created_at')

In [5]:
member_list = list(set(review_beer['member_id']))

In [6]:
# member가 겹치는 데이터 가져옴
learning_for_member = pd.read_sql_query(f'''SELECT *
    FROM learning_dataset
    WHERE "member_id"
    IN ({str(member_list)[1:-1]});
    ''', engine)

In [8]:
# review_beer 전처리
encoder = load('../beer_review_encoder.joblib')

# joblib 파일 있을때 전처리하기
numeric_data = review_beer.drop(columns=['country', 'large_category', 'sub_category'])
encoding_beer = encoder.transform(review_beer[['country', 'large_category', 'sub_category']])
encoded_categories_beer = pd.DataFrame(encoding_beer, columns=encoder.get_feature_names_out(input_features=['country', 'large_category', 'sub_category']))
review_beer = pd.concat([numeric_data, encoded_categories_beer], axis=1)

In [22]:
review_beer = review_beer.drop(columns='beer_id')
# 전체 덧셈, 이후 두 데이터프레임 합친 다음 다시 덧셈할거임
sumdata = review_beer.groupby("member_id", group_keys=True).sum()
sumdata['divide_size'] = review_beer.groupby('member_id').size()
sumdata = sumdata.reset_index()

sumdata

,member_id,overall,abv,review_count,country_AR,country_AT,country_AU,country_BE,country_CA,country_CN,...,sub_category_Spice/Herb/Vegetable,sub_category_Stout,sub_category_Strong Pale Lager/Imperial Pils,sub_category_Sweet Stout,sub_category_Traditional Ale,sub_category_Vienna,sub_category_Weizen Bock,sub_category_Wheat Ale,sub_category_Zwickel/Keller/Landbier,divide_size
0,2,32,8.9,848,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2
1,15,52,14.4,4749,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2,90,30,14.4,4749,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3

In [25]:
concated = pd.concat([learning_for_member, sumdata])
final = concated.groupby("member_id", group_keys=True).sum()

final

,overall,abv,review_count,country_AR,country_AT,country_AU,country_BE,country_CA,country_CN,country_CZ,...,sub_category_Spice/Herb/Vegetable,sub_category_Stout,sub_category_Strong Pale Lager/Imperial Pils,sub_category_Sweet Stout,sub_category_Traditional Ale,sub_category_Vienna,sub_category_Weizen Bock,sub_category_Wheat Ale,sub_category_Zwickel/Keller/Landbier,divide_size
member_id,,,,,,,,,,,,,,,,,,,,,
2,227,77.4,2966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,15
15,52,14.4,4749,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
90,270,93.0,12291,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19

In [46]:
# 기존 테이블에서 있던 행 제거 및 행 추가
from sqlalchemy.orm import Session
from sqlalchemy import text

session = Session(engine)
session.begin()
try:
    session.execute(text(f"DELETE FROM learning_dataset WHERE member_id IN ({str(member_list)[1:-1]});"))
    final.to_sql('learning_dataset', engine, if_exists='append')
except:
    session.rollback()
session.commit()
session.close()

In [47]:
# 마지막 저장 후 연결 끊기
engine.dispose()